[submodule "pypulseq"]
	path = pypulseq
	url = https://github.com/schmidtijoe/pypulseq
[submodule "pypulseq_interface"]
	path = pypulseq_interface
	url = git@github.com:schmidtijoe/pypulseq_interface.git
